apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: opendatahub

resources:
  - ../../base/maas-api

patches:
  - path: maas-api-env-patch.yaml
    target:
      kind: Deployment
      name: maas-api
